<div class="row">
    <div class="m-t-20">
        <!--        Login-->
        <div id="login" class="col s12">
            <div class="row">
                {{#if error}}
                    <p class="alert col s6 offset-s3">{{error}}</p>
                {{/if}}
                <form class="col s12" action="/auth/password" method="post">
                    <p class="col s6 offset-s3">Восстановать пароль</p>
                    <div class="row">
                        <div class="input-field col s6 offset-s3">
                            <input id="password" name="password" type="password" class="validate" required>
                            <label for="password">Введите новый пароль</label>
                        </div>
                    </div>
                    <input  name="token" type="hidden" value="{{token}}">
                    <input  name="userId" type="hidden" value="{{userId}}">

                    <button class="btn col s6 offset-s3" type="submit">Восстановить пароль</button>
                </form>
            </div>
        </div>
    </div>
</div>
