<h1>Покупки</h1>

{{#if courses.length}}

    {{#each courses}}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{courses.title}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    {{/each}}
{{else}}
    <p>Покупок нет</p>
{{/if}}
